/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 22, 2019, 12:47:52 PM
    Author     : Prodigio
*/


.navbar{
    width: 150px;
}
footer{
    bottom: 0;
}