<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--meta http-equiv="refresh" content="0; url=http://www.bncatalogo.gob.cl/F?func=bor-new-0" /-->
        
    </head>
    <body>
        <p>you are not registered, please register</p>
        <p> if you no are redirected, click on the this <a href="http://www.bncatalogo.gob.cl/F?func=bor-new-0">Link</a></p><br>
            <p th:text="${itsok}"></p>
    </body>
</html>
